[user]
	email = talleyrand-34@tutanota.com
	name = Talleyrand-34
; [credential "https://github.com"]
; 	helper = 
; 	helper = !/run/current-system/sw/bin/gh auth git-credential
; [credential "https://gist.github.com"]
; 	helper = 
; 	helper = !/run/current-system/sw/bin/gh auth git-credential
